<p id="notice"><%= notice %></p>
 
<p>
  <b>Nome:</b>
  <%= @estabelecimento.nome %>
</p>
 
<p>
  <b>Endereco:</b>
  <%= @estabelecimento.endereco %>
</p>
 
<p>
  <b>Telefone:</b>
  <%= @estabelecimento.telefone %>
</p>

<p>
  <b>Gostei:</b>
  <%= @estabelecimento.gostei %>
</p>

<p>
  <b>Favorito</b>
  <%= @estabelecimento.favorito %>
</p>

<p>
  <b>Produtos</b><br>
  <% @estabelecimento.produtos.each do |produto| %>
  <%= 	Preco.where(["produto_id = ? and estabelecimento_id = ?", produto.id, @estabelecimento.id])[0].valor %></tab>
  <%=	produto.nome  %> 
  <br> 
  <% end %>
</p>

<p>
  <b>Caracteristicas</b><br>
  <% @estabelecimento.caracteristicas.each do |caracteristica| %>
  <%=	caracteristica.nome  %> 
  <br> 
  <% end %>
</p>

 
<%= link_to 'Editar', edit_estabelecimento_path(@estabelecimento) %> |
<%= link_to 'Voltar', estabelecimentos_path %>